materials
*.pt
__pycache__
.venv
.claude
.vscode
extra
.ipynb_checkpoints
*.parquet
*.parquet.*
*.zip
*.gif
.DS_Store
results
*.png
DS_Store
./notebooks/.DS_Store
docs
*.md
!README.md
launcher.py
**/__marimo__/**
